<h1>Index#home</h1>
<p>Find me in app/views/index/home.html.erb</p>



Hi, I'm Thivashnee Govender, an auditing professional.
I'm most familiar with IFRS, but US GAAP isnt foreign to me either.
In the short time I've worked with Grant Thorton, I've managed to secure a senior
position and have managed many colleagues and international divisions.
Despite being amazing at what I do, my passion in this field is not to do the work
but to help train others in the fields of accounting and auditing.

If you're in need of a private tutor for auditing and accounting, you can request me
at 92k per year, i cost 10.5 dollars an hour if i worked nonstop,
on a 40 hour week, i am worth $44.24 per hour, 75 cents a minute.

I'm best contacted via whatsapp. If an in person meeting is required,
other fees (transportation, lodging) will be added, and proforma invoice will be created
which you must pay half beforehand and you will be billed for the rest after. 
